*.c linguist-language=C
*.h linguist-language=C
*.cpp linguist-detectable=false
*.hpp linguist-detectable=false
*.prefs linguist-language=C
.xml linguist-language=C
.ld linguist-language=C
Debug/* linguist-vendored
Drivers/* linguist-vendored
Src/* linguist-generated=true
Inc/* linguist-generated=true
